@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Global Styles */
body {
  background-color: #f5f5f5;
}
.section-info hr {
  width: 50px;
  margin: auto;
}

/* start navbar */
.navbar {
  background: #0000009c;
}
.navbar .navbar-brand {
  --bs-navbar-brand-font-size: 1.75rem;
  --bs-navbar-brand-color: #ffffff;
  --bs-navbar-brand-hover-color: #ffffff;
  --bs-navbar-brand-padding-y: 0;
  letter-spacing: 1px;
}
.navbar .navbar-nav {
  --bs-nav-link-color: #ffffff;
  --bs-navbar-active-color: #ffffff;
  --bs-navbar-hover-color: #ffffff;
  text-transform: uppercase;
  padding: 20px 0;
  gap: 15px;
}
.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  font-weight: 600;
}
.navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
  --bs-nav-link-color: #000;
}
.navbar .navbar-nav .nav-item .nav-link.active:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 60%;
  height: 2px;
  bottom: 0;
  left: calc(0 - 8px);
}
.navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 0;
  height: 2px;
  bottom: 0;
  left: calc(0 - 8px);
  transition: width 0.3s ease;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 60%;
}
.navbar-nav .dropdown-item.dropdown-toggle {
  color: #1e1e1e;
}
.navbar-nav.dropend .dropdown-toggle {
  color: salmon;
  margin-left: 1em;
}

.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.navbar-nav.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .navbar-nav.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .navbar-nav.dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}

/* end navbar */

/* start header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../imgs/hero-bg.jpg") center/cover no-repeat fixed;
  height: 100vh;
}
header h1 {
  font-size: 4.5rem;
  color: #ffffff;
  font-weight: 600;
}
header #typed-element {
  font-size: 2.5rem;
  color: #ffffff;
}
header .typed-cursor {
  font-size: 2.5rem;
  color: #ffffff;
}
/* end header */

/* start about-us-section */
.about-us-section .row.main {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 4rem 3rem;
}
.about-us-section strong {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1e1e1e;
}
.about-us-section .skills-progress .progress {
  --bs-progress-height: 0.7rem;
}
.about-us-section .row.about-me h2 {
  position: relative;
  margin-bottom: 50px;
}
.about-us-section .row.about-me h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 16%;
  height: 3px;
  transform: translate(12px, 12px);
  background: var(--bs-primary);
}
/* end about-us-section */

/* start services-section */
.services-section .card .card-img-top {
  border: 10px solid var(--bs-primary);
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  transition: background 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
.services-section .card .card-img-top i::before {
  font-size: 40px;
  line-height: 40px;
}
.services-section .card:hover .card-img-top {
  border-color: var(--bs-primary-bg-subtle);
  background: var(--bs-primary);
  color: #fff;
}
.services-section .counter-details {
  background: linear-gradient(rgb(0, 120, 255, 0.7), rgb(0, 120, 255, 0.7)),
    url("../imgs/counters-bg.jpg") center/cover no-repeat fixed;
  height: 70vh;
}
.services-section .counter-details .details-box .icon {
  border: 10px solid var(--bs-primary-bg-subtle);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-section .details-box .icon i::before {
  font-size: 32px;
  line-height: 32px;
}
.services-section .details-box h6 {
  font-size: 32px;
  margin-bottom: 0;
}
/* end services-section */

/* start portfolio-section */
.portfolio-section .card .card-img img {
  transition: all 0.8s ease;
}
.portfolio-section .card:hover .card-img img {
  transform: scale(1.2);
}
/* end portfolio-section */

/* start testimonial-section */
.testimonial-section {
  background: linear-gradient(rgb(0, 120, 255, 0.7), rgb(0, 120, 255, 0.7)),
    url("../imgs/overlay-bg.jpg") center/cover no-repeat fixed;
  height: 90vh;
  position: relative;
}

.testimonial-section .carousel-content {
  z-index: 2;
  top: 50%;
  color: white;
  padding: 20px;
}

.testimonial-section .carousel-item {
  top: 25%;
}
.testimonial-section .carousel-content .profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-section .carousel-indicators {
  position: absolute;
  bottom: 20%;
  left: 0;
  z-index: 3;
}

.testimonial-section .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  margin: 0 5px;
  border: none;
}

.testimonial-section .carousel-indicators .active {
  opacity: 1;
}
/* end testimonial-section */

/* start blog-section */
.blog-section .card-body span {
  position: absolute;
  margin: -45px 35%;
  padding: 10px 15px;
}
/* end blog-section */

/* start contact section */
.contact-us-section {
  background: linear-gradient(rgb(0, 120, 255, 0.7), rgb(0, 120, 255, 0.7)),
    url("../imgs/overlay-bg.jpg") center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-section h6 {
  position: relative;
}
.contact-us-section h6::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--bs-primary);
  width: 100px;
  bottom: -12px;
}
.contact-us-section .social-links .list-item a {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6;
  box-shadow: var(--bs-primary) 0px 0px 0px 3px;
  border-radius: 50%;
  transition: 0.5s ease;
  color: #1e1e1e;
}
.contact-us-section .social-links .list-item a:hover {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6;
  box-shadow: var(--bs-primary-bg-subtle) 0px 0px 0px 3px;
  border-radius: 50%;
  background: var(--bs-primary);
  color: #fff;
}
.contact-us-section .btn {
  font-size: 20px;
  padding: 10px 24px;
  transition: 0.3s ease;
}
.contact-us-section .btn:hover {
  box-shadow: var(--bs-primary-bg-subtle) 0px 0px 0px 3px;
  opacity: 0.8;
}
/* end contact section*/

/* start footer */
footer {
  padding: 25px 0;
  background: var(--bs-primary);
}
/* end footer */
@media (max-width: 576px) {
  .about-us-section .row.main {
    padding: 24px;
  }
}
@media (max-width: 1400px) {
  .testimonial-section .carousel-indicators {
    bottom: 0;
  }
}
