body {
  margin: 0;
}

/* Normalize */
h2,
h3,
p {
  margin: 0;
}

/* start of header section */
header {
  background-image: url("../../assets/imgs/drew-coffman-1872.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

header .header-content {
  margin: 235px auto;
  width: 700px;
}

header .header-content .header-welcome-text {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 5px;
}

header .heading-style {
  font-size: 76px;
  color: #fff;
  margin: 0;
  margin-bottom: 18px;
}

header .header-content .info-text-style {
  font-size: 24px;
  margin: 20px 0;
  color: #fff;
  line-height: 40px;
}

header .header-links {
  margin-top: 30px;
}

header .header-link {
  color: #fff;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 15px 28px;
  border-radius: 4px;
}

header .header-link.learn-more-link {
  background-color: #8e7754;
  margin-right: 6px;
}

header .header-link.contact-us-link {
  border: 1px solid #fff;
  margin-left: 6px;
}
/* end of header section */

/* start of about section */
.about-section .info-text-style {
  font-size: 17px;
}
/* end of about section */

/* start of location section */
.location-section .card-text.extra {
  margin-top: 20px;
}
.location-section .card-horizontal {
  background: #f8f8f8;
}
/* end of location section */

/* start of baking section */
.baking-section .baking-section-content {
  padding-bottom: 50px;
  text-align: center;
}
.baking-section .baking-section-content .heading-style {
  font-size: 30px;
}
.baking-section .info-text-style {
  font-size: 17px;
  margin-top: 15px;
}
.card-vertical .heading-style {
  font-size: 22px;
}
/* end of baking section */

/* start of contact section */
.contact-section .card-horizontal {
  background: #f8f8f8;
}
.contact-section .list-icon-appearance {
  background: #8e7754;
}
.contact-section .card-body .card-text.extra {
  margin-top: 20px;
}
.card-map-wrapper {
  float: left;
  width: 47%;
}
/* end of contact section */
